In [135]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [136]:
df = pd.read_csv('./CollegeBasketballPlayers2009-2021.csv')
df.columns.values

array(['player_name', 'team', 'conf', 'GP', 'Min_per', 'Ortg', 'usg',
       'eFG', 'TS_per', 'ORB_per', 'DRB_per', 'AST_per', 'TO_per', 'FTM',
       'FTA', 'FT_per', 'twoPM', 'twoPA', 'twoP_per', 'TPM', 'TPA',
       'TP_per', 'blk_per', 'stl_per', 'ftr', 'yr', 'ht', 'num', 'porpag',
       'adjoe', 'pfr', 'year', 'pid', 'type', 'Rec Rank', 'ast/tov',
       'rimmade', 'rimmade+rimmiss', 'midmade', 'midmade+midmiss',
       'rimmade/(rimmade+rimmiss)', 'midmade/(midmade+midmiss)',
       'dunksmade', 'dunksmiss+dunksmade',
       'dunksmade/(dunksmade+dunksmiss)', 'pick', 'drtg', 'adrtg',
       'dporpag', 'stops', 'bpm', 'obpm', 'dbpm', 'gbpm', 'mp', 'ogbpm',
       'dgbpm', 'oreb', 'dreb', 'treb', 'ast', 'stl', 'blk', 'pts',
       'Unnamed: 64', 'Unnamed: 65'], dtype=object)

In [137]:
# df = df[['player_name','GP','']]
df_advanced_stats = df[['player_name','GP', 'Min_per','Ortg', 'usg','eFG','TS_per', 'ORB_per', 'DRB_per', 'AST_per',
                       'TO_per', 'FT_per', 'twoP_per','TP_per','blk_per', 'stl_per','ast/tov','adrtg','dporpag','bpm',
                        'obpm','dbpm','gbpm','ogbpm','dgbpm']]

df_advanced_stats = df_advanced_stats.groupby(['player_name']).mean().reset_index()
df_advanced_stats

,player_name,GP,Min_per,Ortg,usg,eFG,TS_per,ORB_per,DRB_per,AST_per,...,stl_per,ast/tov,adrtg,dporpag,bpm,obpm,dbpm,gbpm,ogbpm,dgbpm
0,A'Torey Everett,23.000000,19.000000,88.000000,15.700000,40.500000,50.080000,1.600000,8.100,14.500000,...,0.300000,0.894657,105.770000,0.750191,-6.406120,-4.928820,-1.477300,-6.515140,-5.633160,-0.881980
1,A'Torri Shine,27.000000,79.300000,94.100000,23.100000,45.400000,49.985000,4.000000,10.100,8.200000,...,1.200000,0.429983,123.473000,0.553376,-6.934815,-2.114325,-4.820495,-5.110925,-0.919447,-4.191470
2,A'Uston Calhoun,30.000000,83.800000,99.900000,25.500000,47.100000,51.500000,7.800000,16.800,5.700000,...,0.700000,0.369225,102.012000,2.777940,-3.123610,-1.285750,-1.837860,-1.065030,0.949586,-2.014620
3,A'uston Calhoun,21.333333,45.333333,99.466667,24.633333,47.833333,50.153333,5.700000,11.300,3.533333,...,0.933333,0.323739,101.136000,1.697958,-4.450073,-0.819087,-3.630987,6.487923,9.365095,-2.877167
4,A.C. Reid,23.750000,39.950000,69.025000,16.700000,34.475000,35.722500,0.625000,9.725,11.900000,...,1.375000,1.213085,107.458750,1.254415,-6.006968,-4.232877,-1.774096,-6.546465,-5.006785,-1.539672
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25714,Zvonko Buljan,29.500000,68.100000,95.200000,27.600000,51.400000,54.550000,8.900000,28.850,17.950000,...,1.750000,0.638469,96.056600,2.906210,2.191356,0.181835,2.009515,1.904984,1.238993,0.665992
25715,Zygis Sestokas,23.000000,30.900000,132.700000,11.300000,58.800000,59.150000,2.700000,6.400,6.800000,...,0.900000,2.399724,104.423000,1.254690,1.471780,2.428600,-0.956826,2.054560,2.461740,-0.407180
25716,Zylan Cheatham,33.333333,61.500000,104.766667,21.700000,53.700000,58.666667,9.066667,22.000,13.866667,...,1.866667,0.752593,89.784533,3.388927,4.599133,0.271613,4.327520,4.012780,0.906384,3.106397
25717,Zyon Dobbs,16.000000,8.000000,66.300000,13.700000,31.600000,31.350000,2.200000,5.900,7.700000,...,2.400000,1.333522,110.902000,0.331559,-7.038210,-5.077610,-1.960590,-7.812860,-5.513820,-2.299040
25718,Zyon Pullin,25.500000,60.300000,99.150000,20.850000,46.900000,50.695000,1.300000,14.450,24.900000,...,1.250000,1.831494,99.281550,2.404460,-0.815820,-1.153895,0.338077,-0.435985,-0.910375,0.474388

In [138]:
map_players = {user: idx for idx, user in enumerate(df_advanced_stats.player_name.unique())}
df_advanced_stats['player_name_id'] = df_advanced_stats['player_name'].map(map_players)
df_advanced_stats

,player_name,GP,Min_per,Ortg,usg,eFG,TS_per,ORB_per,DRB_per,AST_per,...,ast/tov,adrtg,dporpag,bpm,obpm,dbpm,gbpm,ogbpm,dgbpm,player_name_id
0,A'Torey Everett,23.000000,19.000000,88.000000,15.700000,40.500000,50.080000,1.600000,8.100,14.500000,...,0.894657,105.770000,0.750191,-6.406120,-4.928820,-1.477300,-6.515140,-5.633160,-0.881980,0
1,A'Torri Shine,27.000000,79.300000,94.100000,23.100000,45.400000,49.985000,4.000000,10.100,8.200000,...,0.429983,123.473000,0.553376,-6.934815,-2.114325,-4.820495,-5.110925,-0.919447,-4.191470,1
2,A'Uston Calhoun,30.000000,83.800000,99.900000,25.500000,47.100000,51.500000,7.800000,16.800,5.700000,...,0.369225,102.012000,2.777940,-3.123610,-1.285750,-1.837860,-1.065030,0.949586,-2.014620,2
3,A'uston Calhoun,21.333333,45.333333,99.466667,24.633333,47.833333,50.153333,5.700000,11.300,3.533333,...,0.323739,101.136000,1.697958,-4.450073,-0.819087,-3.630987,6.487923,9.365095,-2.877167,3
4,A.C. Reid,23.750000,39.950000,69.025000,16.700000,34.475000,35.722500,0.625000,9.725,11.900000,...,1.213085,107.458750,1.254415,-6.006968,-4.232877,-1.774096,-6.546465,-5.006785,-1.539672,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25714,Zvonko Buljan,29.500000,68.100000,95.200000,27.600000,51.400000,54.550000,8.900000,28.850,17.950000,...,0.638469,96.056600,2.906210,2.191356,0.181835,2.009515,1.904984,1.238993,0.665992,25714
25715,Zygis Sestokas,23.000000,30.900000,132.700000,11.300000,58.800000,59.150000,2.700000,6.400,6.800000,...,2.399724,104.423000,1.254690,1.471780,2.428600,-0.956826,2.054560,2.461740,-0.407180,25715
25716,Zylan Cheatham,33.333333,61.500000,104.766667,21.700000,53.700000,58.666667,9.066667,22.000,13.866667,...,0.752593,89.784533,3.388927,4.599133,0.271613,4.327520,4.012780,0.906384,3.106397,25716
25717,Zyon Dobbs,16.000000,8.000000,66.300000,13.700000,31.600000,31.350000,2.200000,5.900,7.700000,...,1.333522,110.902000,0.331559,-7.038210,-5.077610,-1.960590,-7.812860,-5.513820,-2.299040,25717
25718,Zyon Pullin,25.500000,60.300000,99.150000,20.850000,46.900000,50.695000,1.300000,14.450,24.900000,...,1.831494,99.281550,2.404460,-0.815820,-1.153895,0.338077,-0.435985,-0.910375,0.474388,25718

In [139]:
drafted_players = pd.read_csv('DraftedPlayers2009-2021.csv')
drafted_players = drafted_players[['PLAYER','OVERALL']]
drafted_players = drafted_players.drop([0])
drafted_players

              PLAYER OVERALL
1    Cade Cunningham       1
2        Jalen Green       2
3        Evan Mobley       3
4     Scottie Barnes       4
5        Jalen Suggs       5
..               ...     ...
776     Ahmad Nivins      56
777    Emir Preldzic      57
778    Lester Hudson      58
779  Chinemelu Elonu      59
780    Robert Dozier      60

[780 rows x 2 columns]

In [148]:
drafted_players['player_name_id'] = drafted_players['PLAYER'].map(map_players)
drafted_players["OVERALL"] = pd.to_numeric(drafted_players["OVERALL"])
drafted_players.dtypes
lista = list(range(1, 16))

lottery_drafted_players = pd.DataFrame(columns=['player_name','Overall','player_name_id'])

for index, row in drafted_players.iterrows():
    if row['OVERALL'] in lista:
        line = {'player_name':row['PLAYER'], 'Overall':row['OVERALL'], 'player_name_id':row['player_name_id']}
        lottery_drafted_players = lottery_drafted_players.append(line, ignore_index=True)

lottery_drafted_players['player_name_id']
# os valores nan correspondem a jogadores que foram draftados mas nao passaram pelo COLLEGE, logo eles não
# nos interessam.
lottery_drafted_players['player_name_id'].isna().sum()
lottery_drafted_players.dropna(axis='rows')

           player_name Overall player_name_id
0      Cade Cunningham       1         3360.0
2          Evan Mobley       3         8577.0
3       Scottie Barnes       4        21890.0
4          Jalen Suggs       5        10874.0
7         Franz Wagner       8         8796.0
..                 ...     ...            ...
190  Terrence Williams      11        23269.0
191   Gerald Henderson      12         9148.0
192   Tyler Hansbrough      13        24456.0
193         Earl Clark      14         7914.0
194        Austin Daye      15         1791.0

[158 rows x 3 columns]