In [470]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [471]:
df = pd.read_csv('./CollegeBasketballPlayers2009-2021.csv')

df_train = df.loc[(df.year == 2021)]
df_train

df = df.loc[(df.year!=2021)]

In [472]:
# df = df[['player_name','GP','']]
df_advanced_stats = df[['player_name','GP', 'Min_per','Ortg', 'usg','eFG','TS_per', 'ORB_per', 'DRB_per', 'AST_per',
                       'TO_per', 'FT_per', 'twoP_per','TP_per','blk_per', 'stl_per']]

df_advanced_stats = df_advanced_stats.groupby(['player_name']).mean().reset_index()
df_advanced_stats = df_advanced_stats.loc[(df.year!=2021)]

In [473]:
df_train_advanced_stats = df_train[['player_name','GP', 'Min_per','Ortg', 'usg','eFG','TS_per', 'ORB_per', 'DRB_per', 'AST_per',
                       'TO_per', 'FT_per', 'twoP_per','TP_per','blk_per', 'stl_per']]

df_train_advanced_stats = df_train_advanced_stats.groupby(['player_name']).mean().reset_index()
df_train_advanced_stats

,player_name,GP,Min_per,Ortg,usg,eFG,TS_per,ORB_per,DRB_per,AST_per,TO_per,FT_per,twoP_per,TP_per,blk_per,stl_per
0,A.J. Caldwell,24.0,80.2,103.1,11.4,52.7,51.94,1.6,14.9,13.7,17.2,0.333,0.366,0.400,1.3,2.1
1,A.J. Hoggard,26.0,30.6,78.3,17.9,32.7,36.83,1.3,14.6,26.8,26.5,0.600,0.351,0.167,1.5,1.5
2,A.J. Labriola,5.0,0.9,0.0,0.0,0.0,0.00,0.0,14.4,20.6,0.0,0.000,0.000,0.000,0.0,0.0
3,A.J. Lawson,17.0,73.3,91.4,26.0,47.8,49.64,5.3,14.9,33.9,27.7,0.561,0.475,0.324,0.4,1.4
4,A.J. McGinnis,28.0,35.2,104.1,18.5,51.6,51.95,0.9,8.1,5.7,12.4,0.571,0.559,0.336,0.3,1.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4934,Zion Young,30.0,46.2,98.0,20.5,45.8,49.72,2.8,14.2,5.3,13.5,0.830,0.324,0.353,0.4,1.1
4935,Zoar Nedd,4.0,0.8,0.0,0.0,0.0,0.00,0.0,41.1,0.0,0.0,0.000,0.000,0.000,0.0,0.0
4936,Zondrick Garrett,5.0,1.0,63.6,14.9,50.0,50.00,0.0,10.7,0.0,39.7,0.000,1.000,0.000,0.0,0.0
4937,Zool Kueth,18.0,51.0,114.7,14.4,55.9,56.67,5.8,9.2,4.8,12.6,0.700,0.558,0.373,4.3,0.5
4938,Zyon Pullin,22.0,77.3,113.0,22.3,53.1,56.48,1.4,16.0,28.8,16.1,0.800,0.513,0.389,0.2,1.4

In [474]:
map_players = {user: idx for idx, user in enumerate(df_advanced_stats.player_name.unique())}
df_advanced_stats['player_name_id'] = df_advanced_stats['player_name'].map(map_players)
df_advanced_stats

,player_name,GP,Min_per,Ortg,usg,eFG,TS_per,ORB_per,DRB_per,AST_per,TO_per,FT_per,twoP_per,TP_per,blk_per,stl_per,player_name_id
0,A'Torey Everett,23.000000,19.000000,88.000000,15.700000,40.500000,50.080000,1.600000,8.100,14.500000,30.600000,0.783000,0.300000,0.571000,0.600000,0.300000,0
1,A'Torri Shine,27.000000,79.300000,94.100000,23.100000,45.400000,49.985000,4.000000,10.100,8.200000,18.100000,0.759500,0.448000,0.306000,0.650000,1.200000,1
2,A'Uston Calhoun,30.000000,83.800000,99.900000,25.500000,47.100000,51.500000,7.800000,16.800,5.700000,15.500000,0.796000,0.461000,0.352000,1.500000,0.700000,2
3,A'uston Calhoun,21.333333,45.333333,99.466667,24.633333,47.833333,50.153333,5.700000,11.300,3.533333,10.366667,0.643667,0.319333,0.322333,1.633333,0.933333,3
4,A.C. Reid,23.750000,39.950000,69.025000,16.700000,34.475000,35.722500,0.625000,9.725,11.900000,16.825000,0.541250,0.285000,0.236750,0.950000,1.375000,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23878,Zvonko Buljan,29.500000,68.100000,95.200000,27.600000,51.400000,54.550000,8.900000,28.850,17.950000,24.800000,0.713000,0.537500,0.307500,1.150000,1.750000,23878
23879,Zygis Sestokas,23.000000,30.900000,132.700000,11.300000,58.800000,59.150000,2.700000,6.400,6.800000,6.700000,0.750000,0.600000,0.391000,1.100000,0.900000,23879
23880,Zylan Cheatham,33.333333,61.500000,104.766667,21.700000,53.700000,58.666667,9.066667,22.000,13.866667,23.533333,0.692333,0.546333,0.263000,3.266667,1.866667,23880
23881,Zyon Dobbs,16.000000,8.000000,66.300000,13.700000,31.600000,31.350000,2.200000,5.900,7.700000,17.400000,0.286000,0.300000,0.222000,1.200000,2.400000,23881
23882,Zyon Pullin,29.000000,43.300000,85.300000,19.400000,40.700000,44.910000,1.200000,12.900,21.000000,25.000000,0.659000,0.412000,0.267000,0.400000,1.100000,23882

In [475]:
map_train_players = {user: idx for idx, user in enumerate(df_train_advanced_stats.player_name.unique())}
df_train_advanced_stats['player_name_id'] = df_train_advanced_stats['player_name'].map(map_train_players)
df_train_advanced_stats

,player_name,GP,Min_per,Ortg,usg,eFG,TS_per,ORB_per,DRB_per,AST_per,TO_per,FT_per,twoP_per,TP_per,blk_per,stl_per,player_name_id
0,A.J. Caldwell,24.0,80.2,103.1,11.4,52.7,51.94,1.6,14.9,13.7,17.2,0.333,0.366,0.400,1.3,2.1,0
1,A.J. Hoggard,26.0,30.6,78.3,17.9,32.7,36.83,1.3,14.6,26.8,26.5,0.600,0.351,0.167,1.5,1.5,1
2,A.J. Labriola,5.0,0.9,0.0,0.0,0.0,0.00,0.0,14.4,20.6,0.0,0.000,0.000,0.000,0.0,0.0,2
3,A.J. Lawson,17.0,73.3,91.4,26.0,47.8,49.64,5.3,14.9,33.9,27.7,0.561,0.475,0.324,0.4,1.4,3
4,A.J. McGinnis,28.0,35.2,104.1,18.5,51.6,51.95,0.9,8.1,5.7,12.4,0.571,0.559,0.336,0.3,1.6,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4934,Zion Young,30.0,46.2,98.0,20.5,45.8,49.72,2.8,14.2,5.3,13.5,0.830,0.324,0.353,0.4,1.1,4934
4935,Zoar Nedd,4.0,0.8,0.0,0.0,0.0,0.00,0.0,41.1,0.0,0.0,0.000,0.000,0.000,0.0,0.0,4935
4936,Zondrick Garrett,5.0,1.0,63.6,14.9,50.0,50.00,0.0,10.7,0.0,39.7,0.000,1.000,0.000,0.0,0.0,4936
4937,Zool Kueth,18.0,51.0,114.7,14.4,55.9,56.67,5.8,9.2,4.8,12.6,0.700,0.558,0.373,4.3,0.5,4937
4938,Zyon Pullin,22.0,77.3,113.0,22.3,53.1,56.48,1.4,16.0,28.8,16.1,0.800,0.513,0.389,0.2,1.4,4938

In [476]:
drafted_players = pd.read_csv('DraftedPlayers2009-2021.csv')
drafted_players
drafted_players = drafted_players.drop([0])
drafted_players = drafted_players.loc[(drafted_players.YEAR!=2021)]
drafted_players = drafted_players[['PLAYER','OVERALL']]
drafted_players

               PLAYER OVERALL
61    Anthony Edwards       1
62      James Wiseman       2
63        LaMelo Ball       3
64   Patrick Williams       4
65        Isaac Okoro       5
..                ...     ...
776      Ahmad Nivins      56
777     Emir Preldzic      57
778     Lester Hudson      58
779   Chinemelu Elonu      59
780     Robert Dozier      60

[720 rows x 2 columns]

In [477]:
drafted_players['player_name_id'] = drafted_players['PLAYER'].map(map_players)
drafted_players["OVERALL"] = pd.to_numeric(drafted_players["OVERALL"])
drafted_players.dtypes
lista = list(range(1, 16))

lottery_drafted_players = pd.DataFrame(columns=['player_name','Overall','player_name_id'])

for index, row in drafted_players.iterrows():
    if row['OVERALL'] in lista:
        line = {'player_name':row['PLAYER'], 'Overall':row['OVERALL'], 'player_name_id':row['player_name_id']}
        lottery_drafted_players = lottery_drafted_players.append(line, ignore_index=True)

lottery_drafted_players['player_name_id']
# os valores nan correspondem a jogadores que foram draftados mas nao passaram pelo COLLEGE, logo eles nÃ£o
# nos interessam.
lottery_drafted_players['player_name_id'].isna().sum()
lottery_drafted_players = lottery_drafted_players.dropna(axis='rows')
lottery_drafted_players

           player_name Overall player_name_id
0      Anthony Edwards       1         1251.0
1        James Wiseman       2        10379.0
3     Patrick Williams       4        18302.0
4          Isaac Okoro       5         9195.0
5       Onyeka Okongwu       6        18025.0
..                 ...     ...            ...
175  Terrence Williams      11        21588.0
176   Gerald Henderson      12         8512.0
177   Tyler Hansbrough      13        22707.0
178         Earl Clark      14         7371.0
179        Austin Daye      15         1675.0

[146 rows x 3 columns]

In [478]:
def faixa_de_valores(series):
    Q1 = round(np.quantile(lista, .20))
    Q2 = round(np.quantile(lista, .40))
    Q3 = round(np.quantile(lista, .60))
    Q4 = round(np.quantile(lista, .80))

    return Q1, Q2, Q3, Q4

In [479]:
lista1 = df_train_advanced_stats['GP'].tolist()
lista2 = df_advanced_stats['GP'].tolist()

lista = lista1 + lista2

Q1, Q2, Q3, Q4 = faixa_de_valores(lista)

print(Q1, Q2, Q3, Q4)
# df_advanced_stats['Min_per'].hist()

10 20 26 30

In [480]:
df_advanced_stats['GP (<10)'] = np.where(df_advanced_stats['GP'] < Q1, 1, 0)
df_advanced_stats['GP (>=10 e < 20)'] = np.where((df_advanced_stats['GP'] >= Q1) & (df_advanced_stats['GP'] < Q2), 1, 0)
df_advanced_stats['GP (>=20 e < 26)'] = np.where((df_advanced_stats['GP'] >= Q2) & (df_advanced_stats['GP'] < Q3), 1, 0)
df_advanced_stats['GP (>=26 e < 30)'] = np.where((df_advanced_stats['GP'] >= Q3) & (df_advanced_stats['GP'] < Q4), 1, 0)
df_advanced_stats['GP (>=30)'] = np.where((df_advanced_stats['GP'] >= Q4), 1, 0)
df_advanced_stats = df_advanced_stats.drop(columns = ['GP'])

df_train_advanced_stats['GP (<10)'] = np.where(df_train_advanced_stats['GP'] < Q1, 1, 0)
df_train_advanced_stats['GP (>=10 e < 20)'] = np.where((df_train_advanced_stats['GP'] >= Q1) & (df_train_advanced_stats['GP'] < Q2), 1, 0)
df_train_advanced_stats['GP (>=20 e < 26)'] = np.where((df_train_advanced_stats['GP'] >= Q2) & (df_train_advanced_stats['GP'] < Q3), 1, 0)
df_train_advanced_stats['GP (>=26 e < 30)'] = np.where((df_train_advanced_stats['GP'] >= Q3) & (df_train_advanced_stats['GP'] < Q4), 1, 0)
df_train_advanced_stats['GP (>=30)'] = np.where((df_train_advanced_stats['GP'] >= Q4), 1, 0)
df_train_advanced_stats = df_train_advanced_stats.drop(columns = ['GP'])

In [481]:
lista1 = df_train_advanced_stats['Min_per'].tolist()
lista2 = df_advanced_stats['Min_per'].tolist()

lista = lista1 + lista2

Q1, Q2, Q3, Q4 = faixa_de_valores(lista)

print(Q1, Q2, Q3, Q4)
# df_advanced_stats['Min_per'].hist()

4 22 42 60

In [482]:
df_advanced_stats['Min_per (<4)'] = np.where(df_advanced_stats['Min_per'] < Q1, 1, 0)
df_advanced_stats['Min_per (>=4 e < 22)'] = np.where((df_advanced_stats['Min_per'] >= Q1) & (df_advanced_stats['Min_per'] < Q2), 1, 0)
df_advanced_stats['Min_per (>=22 e < 42)'] = np.where((df_advanced_stats['Min_per'] >= Q2) & (df_advanced_stats['Min_per'] < Q3), 1, 0)
df_advanced_stats['Min_per (>=42 e < 60)'] = np.where((df_advanced_stats['Min_per'] >= Q3) & (df_advanced_stats['Min_per'] < Q4), 1, 0)
df_advanced_stats['Min_per (>=60)'] = np.where((df_advanced_stats['Min_per'] >= Q4), 1, 0)
df_advanced_stats = df_advanced_stats.drop(columns = ['Min_per'])

df_train_advanced_stats['Min_per (<4)'] = np.where(df_train_advanced_stats['Min_per'] < Q1, 1, 0)
df_train_advanced_stats['Min_per (>=4 e < 22)'] = np.where((df_train_advanced_stats['Min_per'] >= Q1) & (df_train_advanced_stats['Min_per'] < Q2), 1, 0)
df_train_advanced_stats['Min_per (>=22 e < 42)'] = np.where((df_train_advanced_stats['Min_per'] >= Q2) & (df_train_advanced_stats['Min_per'] < Q3), 1, 0)
df_train_advanced_stats['Min_per (>=42 e < 60)'] = np.where((df_train_advanced_stats['Min_per'] >= Q3) & (df_train_advanced_stats['Min_per'] < Q4), 1, 0)
df_train_advanced_stats['Min_per (>=60)'] = np.where((df_train_advanced_stats['Min_per'] >= Q4), 1, 0)
df_train_advanced_stats = df_train_advanced_stats.drop(columns = ['Min_per'])

In [483]:
lista1 = df_train_advanced_stats['Ortg'].tolist()
lista2 = df_advanced_stats['Ortg'].tolist()

lista = lista1 + lista2

Q1, Q2, Q3, Q4 = faixa_de_valores(lista)

print(Q1, Q2, Q3, Q4)
# df_advanced_stats['Min_per'].hist()

75 91 99 107

In [484]:
df_advanced_stats['Ortg (<75)'] = np.where(df_advanced_stats['Ortg'] < Q1, 1, 0)
df_advanced_stats['Ortg (>=75 e < 91)'] = np.where((df_advanced_stats['Ortg'] >= Q1) & (df_advanced_stats['Ortg'] < Q2), 1, 0)
df_advanced_stats['Ortg (>=91 e < 99)'] = np.where((df_advanced_stats['Ortg'] >= Q2) & (df_advanced_stats['Ortg'] < Q3), 1, 0)
df_advanced_stats['Ortg (>=99 e < 107)'] = np.where((df_advanced_stats['Ortg'] >= Q3) & (df_advanced_stats['Ortg'] < Q4), 1, 0)
df_advanced_stats['Ortg (>=107)'] = np.where((df_advanced_stats['Ortg'] >= Q4), 1, 0)
df_advanced_stats = df_advanced_stats.drop(columns = ['Ortg'])

df_train_advanced_stats['Ortg (<75)'] = np.where(df_train_advanced_stats['Ortg'] < Q1, 1, 0)
df_train_advanced_stats['Ortg (>=75 e < 91)'] = np.where((df_train_advanced_stats['Ortg'] >= Q1) & (df_train_advanced_stats['Ortg'] < Q2), 1, 0)
df_train_advanced_stats['Ortg (>=91 e < 99)'] = np.where((df_train_advanced_stats['Ortg'] >= Q2) & (df_train_advanced_stats['Ortg'] < Q3), 1, 0)
df_train_advanced_stats['Ortg (>=99 e < 107)'] = np.where((df_train_advanced_stats['Ortg'] >= Q3) & (df_train_advanced_stats['Ortg'] < Q4), 1, 0)
df_train_advanced_stats['Ortg (>=107)'] = np.where((df_train_advanced_stats['Ortg'] >= Q4), 1, 0)
df_train_advanced_stats = df_train_advanced_stats.drop(columns = ['Ortg'])

In [485]:
lista1 = df_train_advanced_stats['usg'].tolist()
lista2 = df_advanced_stats['usg'].tolist()

lista = lista1 + lista2

Q1, Q2, Q3, Q4 = faixa_de_valores(lista)

print(Q1, Q2, Q3, Q4)
# df_advanced_stats['Min_per'].hist()

14 17 19 22

In [486]:
df_advanced_stats['usg (<14)'] = np.where(df_advanced_stats['usg'] < Q1, 1, 0)
df_advanced_stats['usg (>=14 e < 17)'] = np.where((df_advanced_stats['usg'] >= Q1) & (df_advanced_stats['usg'] < Q2), 1, 0)
df_advanced_stats['usg (>=17 e < 19)'] = np.where((df_advanced_stats['usg'] >= Q2) & (df_advanced_stats['usg'] < Q3), 1, 0)
df_advanced_stats['usg (>=19 e < 22)'] = np.where((df_advanced_stats['usg'] >= Q3) & (df_advanced_stats['usg'] < Q4), 1, 0)
df_advanced_stats['usg (>=22)'] = np.where((df_advanced_stats['usg'] >= Q4), 1, 0)
df_advanced_stats = df_advanced_stats.drop(columns = ['usg'])

df_train_advanced_stats['usg (<14)'] = np.where(df_train_advanced_stats['usg'] < Q1, 1, 0)
df_train_advanced_stats['usg (>=14 e < 17)'] = np.where((df_train_advanced_stats['usg'] >= Q1) & (df_train_advanced_stats['usg'] < Q2), 1, 0)
df_train_advanced_stats['usg (>=17 e < 19)'] = np.where((df_train_advanced_stats['usg'] >= Q2) & (df_train_advanced_stats['usg'] < Q3), 1, 0)
df_train_advanced_stats['usg (>=19 e < 22)'] = np.where((df_train_advanced_stats['usg'] >= Q3) & (df_train_advanced_stats['usg'] < Q4), 1, 0)
df_train_advanced_stats['usg (>=22)'] = np.where((df_train_advanced_stats['usg'] >= Q4), 1, 0)
df_train_advanced_stats = df_train_advanced_stats.drop(columns = ['usg'])

In [487]:
lista1 = df_train_advanced_stats['eFG'].tolist()
lista2 = df_advanced_stats['eFG'].tolist()

lista = lista1 + lista2

Q1, Q2, Q3, Q4 = faixa_de_valores(lista)

print(Q1, Q2, Q3, Q4)
# df_advanced_stats['Min_per'].hist()

34 44 49 53

In [488]:
df_advanced_stats['eFG (<34)'] = np.where(df_advanced_stats['eFG'] < Q1, 1, 0)
df_advanced_stats['eFG (>=34 e < 44)'] = np.where((df_advanced_stats['eFG'] >= Q1) & (df_advanced_stats['eFG'] < Q2), 1, 0)
df_advanced_stats['eFG (>=44 e < 49)'] = np.where((df_advanced_stats['eFG'] >= Q2) & (df_advanced_stats['eFG'] < Q3), 1, 0)
df_advanced_stats['eFG (>=49 e < 53)'] = np.where((df_advanced_stats['eFG'] >= Q3) & (df_advanced_stats['eFG'] < Q4), 1, 0)
df_advanced_stats['eFG (>=53)'] = np.where((df_advanced_stats['eFG'] >= Q4), 1, 0)
df_advanced_stats = df_advanced_stats.drop(columns = ['eFG'])

df_train_advanced_stats['eFG (<34)'] = np.where(df_train_advanced_stats['eFG'] < Q1, 1, 0)
df_train_advanced_stats['eFG (>=34 e < 44)'] = np.where((df_train_advanced_stats['eFG'] >= Q1) & (df_train_advanced_stats['eFG'] < Q2), 1, 0)
df_train_advanced_stats['eFG (>=44 e < 49)'] = np.where((df_train_advanced_stats['eFG'] >= Q2) & (df_train_advanced_stats['eFG'] < Q3), 1, 0)
df_train_advanced_stats['eFG (>=49 e < 53)'] = np.where((df_train_advanced_stats['eFG'] >= Q3) & (df_train_advanced_stats['eFG'] < Q4), 1, 0)
df_train_advanced_stats['eFG (>=53)'] = np.where((df_train_advanced_stats['eFG'] >= Q4), 1, 0)
df_train_advanced_stats = df_train_advanced_stats.drop(columns = ['eFG'])

In [489]:
lista1 = df_train_advanced_stats['TS_per'].tolist()
lista2 = df_advanced_stats['TS_per'].tolist()

lista = lista1 + lista2

Q1, Q2, Q3, Q4 = faixa_de_valores(lista)

print(Q1, Q2, Q3, Q4)
# df_advanced_stats['Min_per'].hist()

39 48 52 56

In [490]:
df_advanced_stats['TS_per (<39)'] = np.where(df_advanced_stats['TS_per'] < Q1, 1, 0)
df_advanced_stats['TS_per (>=39 e < 48)'] = np.where((df_advanced_stats['TS_per'] >= Q1) & (df_advanced_stats['TS_per'] < Q2), 1, 0)
df_advanced_stats['TS_per (>=48 e < 52)'] = np.where((df_advanced_stats['TS_per'] >= Q2) & (df_advanced_stats['TS_per'] < Q3), 1, 0)
df_advanced_stats['TS_per (>=52 e < 56)'] = np.where((df_advanced_stats['TS_per'] >= Q3) & (df_advanced_stats['TS_per'] < Q4), 1, 0)
df_advanced_stats['TS_per (>=56)'] = np.where((df_advanced_stats['TS_per'] >= Q4), 1, 0)
df_advanced_stats = df_advanced_stats.drop(columns = ['TS_per'])

df_train_advanced_stats['TS_per (<39)'] = np.where(df_train_advanced_stats['TS_per'] < Q1, 1, 0)
df_train_advanced_stats['TS_per (>=39 e < 48)'] = np.where((df_train_advanced_stats['TS_per'] >= Q1) & (df_train_advanced_stats['TS_per'] < Q2), 1, 0)
df_train_advanced_stats['TS_per (>=48 e < 52)'] = np.where((df_train_advanced_stats['TS_per'] >= Q2) & (df_train_advanced_stats['TS_per'] < Q3), 1, 0)
df_train_advanced_stats['TS_per (>=52 e < 56)'] = np.where((df_train_advanced_stats['TS_per'] >= Q3) & (df_train_advanced_stats['TS_per'] < Q4), 1, 0)
df_train_advanced_stats['TS_per (>=56)'] = np.where((df_train_advanced_stats['TS_per'] >= Q4), 1, 0)
df_train_advanced_stats = df_train_advanced_stats.drop(columns = ['TS_per'])

In [491]:
lista1 = df_train_advanced_stats['ORB_per'].tolist()
lista2 = df_advanced_stats['ORB_per'].tolist()

lista = lista1 + lista2

Q1, Q2, Q3, Q4 = faixa_de_valores(lista)

print(Q1, Q2, Q3, Q4)
# df_advanced_stats['Min_per'].hist()

1 3 6 9

In [492]:
df_advanced_stats['ORB_per (<1)'] = np.where(df_advanced_stats['ORB_per'] < Q1, 1, 0)
df_advanced_stats['ORB_per (>=1 e < 3)'] = np.where((df_advanced_stats['ORB_per'] >= Q1) & (df_advanced_stats['ORB_per'] < Q2), 1, 0)
df_advanced_stats['ORB_per (>=3 e < 6)'] = np.where((df_advanced_stats['ORB_per'] >= Q2) & (df_advanced_stats['ORB_per'] < Q3), 1, 0)
df_advanced_stats['ORB_per (>=6 e < 9)'] = np.where((df_advanced_stats['ORB_per'] >= Q3) & (df_advanced_stats['ORB_per'] < Q4), 1, 0)
df_advanced_stats['ORB_per (>=9)'] = np.where((df_advanced_stats['ORB_per'] >= Q4), 1, 0)
df_advanced_stats = df_advanced_stats.drop(columns = ['ORB_per'])

df_train_advanced_stats['ORB_per (<1)'] = np.where(df_train_advanced_stats['ORB_per'] < Q1, 1, 0)
df_train_advanced_stats['ORB_per (>=1 e < 3)'] = np.where((df_train_advanced_stats['ORB_per'] >= Q1) & (df_train_advanced_stats['ORB_per'] < Q2), 1, 0)
df_train_advanced_stats['ORB_per (>=3 e < 6)'] = np.where((df_train_advanced_stats['ORB_per'] >= Q2) & (df_train_advanced_stats['ORB_per'] < Q3), 1, 0)
df_train_advanced_stats['ORB_per (>=6 e < 9)'] = np.where((df_train_advanced_stats['ORB_per'] >= Q3) & (df_train_advanced_stats['ORB_per'] < Q4), 1, 0)
df_train_advanced_stats['ORB_per (>=9)'] = np.where((df_train_advanced_stats['ORB_per'] >= Q4), 1, 0)
df_train_advanced_stats = df_train_advanced_stats.drop(columns = ['ORB_per'])

In [493]:
lista1 = df_train_advanced_stats['DRB_per'].tolist()
lista2 = df_advanced_stats['DRB_per'].tolist()

lista = lista1 + lista2

Q1, Q2, Q3, Q4 = faixa_de_valores(lista)

print(Q1, Q2, Q3, Q4)
# df_advanced_stats['Min_per'].hist()

8 10 13 17

In [494]:
df_advanced_stats['DRB_per (<8)'] = np.where(df_advanced_stats['DRB_per'] < Q1, 1, 0)
df_advanced_stats['DRB_per (>=8 e < 10)'] = np.where((df_advanced_stats['DRB_per'] >= Q1) & (df_advanced_stats['DRB_per'] < Q2), 1, 0)
df_advanced_stats['DRB_per (>=10 e < 13)'] = np.where((df_advanced_stats['DRB_per'] >= Q2) & (df_advanced_stats['DRB_per'] < Q3), 1, 0)
df_advanced_stats['DRB_per (>=13 e < 17)'] = np.where((df_advanced_stats['DRB_per'] >= Q3) & (df_advanced_stats['DRB_per'] < Q4), 1, 0)
df_advanced_stats['DRB_per (>=17)'] = np.where((df_advanced_stats['DRB_per'] >= Q4), 1, 0)
df_advanced_stats = df_advanced_stats.drop(columns = ['DRB_per'])

df_train_advanced_stats['DRB_per (<8)'] = np.where(df_train_advanced_stats['DRB_per'] < Q1, 1, 0)
df_train_advanced_stats['DRB_per (>=8 e < 10)'] = np.where((df_train_advanced_stats['DRB_per'] >= Q1) & (df_train_advanced_stats['DRB_per'] < Q2), 1, 0)
df_train_advanced_stats['DRB_per (>=10 e < 13)'] = np.where((df_train_advanced_stats['DRB_per'] >= Q2) & (df_train_advanced_stats['DRB_per'] < Q3), 1, 0)
df_train_advanced_stats['DRB_per (>=13 e < 17)'] = np.where((df_train_advanced_stats['DRB_per'] >= Q3) & (df_train_advanced_stats['DRB_per'] < Q4), 1, 0)
df_train_advanced_stats['DRB_per (>=17)'] = np.where((df_train_advanced_stats['DRB_per'] >= Q4), 1, 0)
df_train_advanced_stats = df_train_advanced_stats.drop(columns = ['DRB_per'])

In [495]:
lista1 = df_train_advanced_stats['AST_per'].tolist()
lista2 = df_advanced_stats['AST_per'].tolist()

lista = lista1 + lista2

Q1, Q2, Q3, Q4 = faixa_de_valores(lista)

print(Q1, Q2, Q3, Q4)
# df_advanced_stats['Min_per'].hist()

4 7 11 16

In [496]:
df_advanced_stats['AST_per (<4)'] = np.where(df_advanced_stats['AST_per'] < Q1, 1, 0)
df_advanced_stats['AST_per (>=4 e < 7)'] = np.where((df_advanced_stats['AST_per'] >= Q1) & (df_advanced_stats['AST_per'] < Q2), 1, 0)
df_advanced_stats['AST_per (>=7 e < 11)'] = np.where((df_advanced_stats['AST_per'] >= Q2) & (df_advanced_stats['AST_per'] < Q3), 1, 0)
df_advanced_stats['AST_per (>=11 e < 16)'] = np.where((df_advanced_stats['AST_per'] >= Q3) & (df_advanced_stats['AST_per'] < Q4), 1, 0)
df_advanced_stats['AST_per (>=16)'] = np.where((df_advanced_stats['AST_per'] >= Q4), 1, 0)
df_advanced_stats = df_advanced_stats.drop(columns = ['AST_per'])

df_train_advanced_stats['AST_per (<4)'] = np.where(df_train_advanced_stats['AST_per'] < Q1, 1, 0)
df_train_advanced_stats['AST_per (>=4 e < 7)'] = np.where((df_train_advanced_stats['AST_per'] >= Q1) & (df_train_advanced_stats['AST_per'] < Q2), 1, 0)
df_train_advanced_stats['AST_per (>=7 e < 11)'] = np.where((df_train_advanced_stats['AST_per'] >= Q2) & (df_train_advanced_stats['AST_per'] < Q3), 1, 0)
df_train_advanced_stats['AST_per (>=11 e < 16)'] = np.where((df_train_advanced_stats['AST_per'] >= Q3) & (df_train_advanced_stats['AST_per'] < Q4), 1, 0)
df_train_advanced_stats['AST_per (>=16)'] = np.where((df_train_advanced_stats['AST_per'] >= Q4), 1, 0)
df_train_advanced_stats = df_train_advanced_stats.drop(columns = ['AST_per'])

In [497]:
lista1 = df_train_advanced_stats['TO_per'].tolist()
lista2 = df_advanced_stats['TO_per'].tolist()

lista = lista1 + lista2

Q1, Q2, Q3, Q4 = faixa_de_valores(lista)

print(Q1, Q2, Q3, Q4)
# df_advanced_stats['Min_per'].hist()

14 18 21 26

In [498]:
df_advanced_stats['TO_per (<14)'] = np.where(df_advanced_stats['TO_per'] < Q1, 1, 0)
df_advanced_stats['TO_per (>=14 e < 18)'] = np.where((df_advanced_stats['TO_per'] >= Q1) & (df_advanced_stats['TO_per'] < Q2), 1, 0)
df_advanced_stats['TO_per (>=18 e < 21)'] = np.where((df_advanced_stats['TO_per'] >= Q2) & (df_advanced_stats['TO_per'] < Q3), 1, 0)
df_advanced_stats['TO_per (>=21 e < 26)'] = np.where((df_advanced_stats['TO_per'] >= Q3) & (df_advanced_stats['TO_per'] < Q4), 1, 0)
df_advanced_stats['TO_per (>=26)'] = np.where((df_advanced_stats['TO_per'] >= Q4), 1, 0)
df_advanced_stats = df_advanced_stats.drop(columns = ['TO_per'])

df_train_advanced_stats['TO_per (<14)'] = np.where(df_train_advanced_stats['TO_per'] < Q1, 1, 0)
df_train_advanced_stats['TO_per (>=14 e < 18)'] = np.where((df_train_advanced_stats['TO_per'] >= Q1) & (df_train_advanced_stats['TO_per'] < Q2), 1, 0)
df_train_advanced_stats['TO_per (>=18 e < 21)'] = np.where((df_train_advanced_stats['TO_per'] >= Q2) & (df_train_advanced_stats['TO_per'] < Q3), 1, 0)
df_train_advanced_stats['TO_per (>=21 e < 26)'] = np.where((df_train_advanced_stats['TO_per'] >= Q3) & (df_train_advanced_stats['TO_per'] < Q4), 1, 0)
df_train_advanced_stats['TO_per (>=26)'] = np.where((df_train_advanced_stats['TO_per'] >= Q4), 1, 0)
df_train_advanced_stats = df_train_advanced_stats.drop(columns = ['TO_per'])